In [2]:
import pandas as pd

In [8]:
df = pd.read_csv('Sample_dataset.tsv',sep='|')

In [9]:
df.head()

        City       Date  Card_Type Exp_Type Gender  Amount  EMI_Paid
0      Delhi  29-Oct-14       Gold    Bills      F   82475         0
1     Mumbai  22-Aug-14   Platinum    Bills      F   32555         0
2  Bengaluru  27-Aug-14     Silver    Bills      F  101738         0
3     Mumbai  12-Apr-14  Signature    Bills      F  123424         0
4  Bengaluru  05-May-15       Gold    Bills      F  171574         0

In [ ]:
df.info()